# PyCharm files.
.idea/
# Generated protocol buffer wrappers.
*_pb2.py
# Generated docs output.
docs/_build/
# Misc python.
__pycache__
.coverage
.coverage.*
*.egg-info
.ipynb_checkpoints
# vim swap files
*.sw[a-z]
# build output
**/build
/dist
# Folder tracking files
.DS_Store
# Test data.
*.pb.gz
# Vendored ketcher.
**/ketcher*
**/standalone
# Node stuff.
**/node_modules/
**/package-lock.json

# React dependencies
**/.pnp
**/.pnp.js

# testing
**/coverage

# misc
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# VSCode.
.vscode/
